$swi-orange: (
  "primary": #F17A23,
  "swi-orange1": rgb(246, 158, 76)
  "swi-orange2": rgb(250,193,137)
  "swi-orange3": rgb(253,225,197)
);

$swi-blau: (
    "secondary": #00385E
    "swi-blau1": rgb(55,86,129)
    "swi-blau2": rgb(116,133,167)
    "swi-blau3": rgb(182,189,210)
);
$swi-grau: (
    "swi-grau": #ECECEB,
    "swi-grau1": rgb(241,241,241)
)