<div class="d-flex">
    <div class="col col-{{levelType}}"></div>
    <div class="slab-container">
        <div class="fbok"></div>
        <div class="col {{rowHeight}} slab d-flex align-items-center">
            <div class="input-group slab-input">
                <input name="elementHeight" type="text" class="form-control" id="{{id}}-input"
                    placeholder="Höhe eingeben" value="{{elementHeight}}" />
                <div class="input-group-append">
                    <span class="input-group-text">m</span>
                </div>
            </div>
        </div>
    </div>
</div>