<li class="nav-item d-flex justify-content-between">
    <a class="nav-link l-level-structures" href="#" data-id="{{levelStructureId}}">
        <svg class="icon">
            <use href="#list-ul"></use>
        </svg><span>{{Bauteil}}</span>
    </a>
    <a class="nav-link l-edit-level-structures" href="#" data-id="{{levelStructureId}}">
        <svg class="icon">
            <use href="#pencil"></use>
        </svg>
    </a>
</li>