<button type="button" class="close" id="btn-close-form">&times;</button>
<div class="pt-3 pb-2 mb3 border-bottom">
    <h3 id="buildingElement">{{psetNameUI}}</h3>
    {{!-- <p class="h6 text-muted text-uppercase">Modellkategorie</p> --}}
    <p class="h6 text-muted text-uppercase" id="modelCategory">{{modelCategory}}</p>
</div>