{{#each exportList}}
    <li class="list-group-item d-flex justify-content-between align-items-center px-5">
        {{eNameUI}}
        <span class="badge badge-primary badge-pill ml-1">{{countedTypes}}</span>
    </li>
{{/each}}